<footer class="footer secondary-font" role="contentinfo">	
    <small style="padding:1em">
        <a href="https://github.com/Distance-Over-Time" aria-label="Link to our studio's GitHub Organization"><img class="footer-icon" src="{{ site.social_media_icons['GitHub'] }}" alt="GitHub"></a>
        <a href="https://bsky.app/profile/distanceovertime.bsky.social" arial-label="Link to our studio's Bluesky"><img class="footer-icon" src="{{ site.social_media_icons['Bluesky'] }}" alt="Bluesky"></a>
        <span>|</span>
        <a class="general" href="https://github.com/Distance-Over-Time/distance-over-time.github.io">Repo & Credits</a>
    </small>
</footer>