@import url('https://fonts.googleapis.com/css2?family=Genos:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

html { /* Why is this not working lol */
  font-family: 'Montserrat';
  font-weight: 500;
}

h5, h6 {
  font-family: 'Montserrat';
}

.page-title {
  font-family: 'Genos';
  font-size: 300%;
  text-transform: uppercase;
  color: #000000;
  text-shadow: 1px 1px 0px #0397D5,
               1px 2px 0px #0397D5
}

.main-font {
  font-family: 'Genos';
  color: black;
}

.card-name {
  font-size: 2rem;
}

.profile-name {
  font-size: 3rem;
  text-shadow: 1px 1px 0px #0397D5,
               1px 2px 0px #0397D5
}

.card-project-name {
  font-size: 2rem !important;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}

.profile-section-title {
  font-size: 1.75rem;
  text-transform: uppercase;
}

.profile-subsection-title {
  font-family: 'Genos';
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: black;
}

.secondary-font {
  font-family: 'Montserrat';
  font-weight: 500;
  color: black;
}

.base-text {
  font-family: 'Montserrat';
  font-weight: 400;
}

.demo-link {
  transition: all 0.5s ease-in-out 0s;
}

.demo-link:hover {
  color: #0397D5;
  text-decoration: underline;
  text-decoration-color:#0397D5;
}

@media only screen and (max-width: 600px) {
  .page-title {
    font-size: 205%;
    color: #000000;
    text-shadow: 0.5px 0.5px 0px #0397D5,
                 0.5px 1.5px 0px #0397D5
  }
  
  .card-project-name {
    font-size: 1.5rem !important;
    padding-bottom: 0rem;
  }
}