---
layout: default
---

<article role="article" class="post">
	<div class="post-meta">
    <h1>{{ page.name }}</h1>
    <h2>{{ page.roles }}</h2>
  <!-- <time class="date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time> -->
	</div>

  {{ content }}
  
  <br>
  
  Social Media
  <hr>
  <p>
    {% for social in page.socials %}
    {% assign platform = social.platform %}
    {% assign url = social.url %}
    {% assign icon = site.social_media_icons[platform] %}
  
    <a href="{{ url }}">
      {% if icon %}
        <img src="{{ icon }}" alt="{{ platform }}">
      {% endif %}
    </a>
  {% endfor %}  
  </p>


  <!-- <p>
      Tagged 
      {% for tag in page.tags %}
      <a href="/tag/{{tag}}">#{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}.
    </p> -->
                   
 <hr style="height:2px; border:none; margin: 2rem 0; background-color:#e7e9ee;">
  
</article>


