---
layout: default
---

<article role="article" class="post">
  <div class="container">
    <div class="post-meta">
      <div class="row">
        <!-- TEXT -->
        <section class="col center-title">
          <h1>{{ page.name }}</h1>
          <h3>{{ page.roles }}</h3>
          <h4><span style="opacity:.5">{{ page.pronouns }} | {{ page.location }}</span></h4>
        </section>
        <!-- ROW -->
        <section class="col text-center" aria-label="team member profile image">
          <img class="bio-image"
               src="assets/images/bio/{{ page.image }}"
               alt="{{ page.alt }}">
        </section>
      </div>	
    </div>

    <br><br>

    <h4>Summary</h4>
    <hr>
    <section class="container">
      {{ page.summary }}
    </section>

    <br><br>

    <h4>Contributions</h4>
    <hr>
    <section class="container">
      {{ content }}
    </section>
    
    <br><br>

    <h4>Portfolio</h4>
    <hr>
    <section class="container">
      <h6><a href="{{ page.portfolio }}" aria-label="link to portfolio of {{ page.name }}">{{ page.portfolio }}</a></h6>
    </section>

    <br><br>

    <h4>Contact</h4>
    <hr>
    <section class="container">
      <ul>
        {% for contact in page.contact %}
        {% assign type = contact.type %}
        {% assign direct = contact.direct %}
      
        <li><strong>{{ type }}</strong>: {{ direct }}</li>
        {% endfor %}
      </ul>
    </section>

    <br><br>

    <h4>Social Media</h4>
    <hr>
    <section class="container">
      {% for social in page.socials %}
        {% assign platform = social.platform %}
        {% assign url = social.url %}
        {% assign icon = site.social_media_icons[platform] %}
  
        {% if icon %}
          <a href="{{ url }}" aria-label="link to {{ platform }}"><img src="{{ icon }}" alt="{{ platform }}" class="social-icon"></a>
        {% endif %}
      {% endfor %}  
    </section>

<!-- KEEP INCASE OF WANTING TAGS -->
  <!-- <p>
      Tagged 
      {% for tag in page.tags %}
      <a href="/tag/{{tag}}">#{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}.
    </p> -->
                   
    <hr style="height:2px; border:none; margin: 2rem 0; background-color:#e7e9ee;">
  </div>
</article>


