---
layout: default
---

<article role="article" class="post">
  <div class="container">
    <div class="post-meta">
      <div class="row">
        <!-- TEXT -->
        <section class="col center-title">
          <h1 class="main-font profile-name">{{ page.name }}</h1>
          <h2 class="profile-info secondary-font">{{ page.roles }}</h2>
          <h3 class="profile-info secondary-font"><span style="opacity:.5">{{ page.pronouns }} | {{ page.location }}</span></h3>
        </section>
        <!-- ROW -->
        <section class="col" aria-label="team member profile image">
          <img class="bio-image"
               src="assets/images/bio/{{ page.image }}"
               alt="{{ page.alt }}">
        </section>
      </div>	
    </div>

    <br><br>

    <h4 class="main-font profile-section-title">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5"/>
      </svg>
      About
    </h4>
    <hr>
    <section class="container base-text">
      {{ page.summary }}
    </section>

    <br><br>

    <h4 class="main-font profile-section-title">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5"/>
      </svg>
      Contributions
    </h4>
    <hr>
    <section class="container base-text">
      {{ content }}
    </section>
    
    <br><br>

    <h4 class="main-font profile-section-title">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5"/>
      </svg>
      Portfolio
    </h4>
    <hr class="subtitle">
    <section class="container secondary-font general">
      {% if page.portfolio == 'under construction' %}
        <h6><em>Under Construction</em></h6>
      {% elsif page.portfolio == 'n/a' %}
        <h6><em>N/A</em></h6>
      {% else %}
        <h6><a href="{{ page.portfolio }}" aria-label="link to portfolio of {{ page.name }}">The Portfolio of {{ page.name }}</a></h6>
      {% endif %}
    </section>

    <br><br>

    <h4 class="main-font profile-section-title">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5"/>
      </svg>
      Contact
    </h4>
    <hr>
    <section class="container secondary-font general">
      <ul class="bio">
        {% for contact in page.contact %}
          {% if contact.type == 'Email' %}
            <li><strong>{{ contact.type }}</strong>: <a href="mailto:{{ contact.direct }}">{{ contact.direct }}</a></li>
          {% else %}
            <li><strong>{{ contact.type }}</strong>: <a href="">{{ contact.direct }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </section>

    <br><br>

    <h4 class="main-font profile-section-title">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5"/>
      </svg>
      Social Media
    </h4>
    <hr>
    <section class="container">
      {% for social in page.socials %}
        {% assign platform = social.platform %}
        {% assign url = social.url %}
        {% assign icon = site.social_media_icons[platform] %}
  
        {% if icon %}
          <a href="{{ url }}" aria-label="link to {{ platform }}"><img src="{{ icon }}" alt="{{ platform }}" class="social-icon no-hover"></a>
        {% endif %}
      {% endfor %}  
    </section>

<!-- KEEP INCASE OF WANTING TAGS -->
  <!-- <p>
      Tagged 
      {% for tag in page.tags %}
      <a href="/tag/{{tag}}">#{{tag}}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}.
    </p> -->
                   
    <hr style="height:2px; border:none; margin: 2rem 0; background-color:#e7e9ee;">
  </div>
</article>


