---
layout: default
---

<article class="post" role="article">
	<div class="meta text-center">
    <img src="{{ page.logo }}" class="game-logo" alt="{{ page.alt }} logo">
  </div>
  <br>
  <div class="meta">
    <h4 class="main-font profile-section-title">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5"/>
      </svg>
      Game Demo
    </h4>
    <hr>
    <section class="container base-text">
      <a href="{{ page.demo }}">
        <h5 class="demo-link"><i class="bi bi-joystick" style="padding-right:10px"></i>Play <em>{{ page.title }}</em> on Itch.io</h5>
      </a>
      <em>Platforms currently available: {{ page.platforms }}</em>
    </section>
    
    <br><br>
    
    <!-- OVERVIEW -->
    <h4 class="main-font profile-section-title">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5"/>
      </svg>
      Overview
    </h4>
    <hr>
    <section class="container base-text general">
      <time class="date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y" }} &middot; {{ page.category }}</time>
      <br><br>
      {{ content }}
    </section>

    <br><br>

    <!-- DEVELOPMENT -->
    <h4 class="main-font profile-section-title">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5"/>
      </svg>
      Development
    </h4>
    <hr>
    <section class="container base-text">
      <div class="col">
        <h5 class="profile-subsection-title"><em>Links</em></h5>
          {% for link in page.links %}
          {% assign platform = link.platform %}
          {% assign url = link.url %}
          {% assign icon = site.social_media_icons[platform] %}
            <a href="{{ url }}" alt="{{ platform }}">
            <img src="{{ icon }}" class="social-icon" aria-label="link to {{ platform }}" alt="{{ platform }} logo"></a>
        {% endfor %}
      </div>
    </section>
    <hr class="secondary">
    <div class="container base-text">
      <div class="row">
        <section class="col">
          <h5 class="profile-subsection-title"><em>Tools</em></h5>
          <ul>
            {% for tool in page.tools %}
              <li>{{ tool }}</li>
            {% endfor %}
          </ul>
        </section>
        <section class="col general">
          <h5 class="profile-subsection-title"><em>Contributors</em></h5>
          <ul>
            {% assign sorted = page.team | sort: 'member' %}
            {% for team in sorted %}
              {% assign member = team.member %}
              {% assign url = team.url %}
              {% assign roles = team.roles %}
              <li>
                <a href="{{ site.baseurl }}{{ url }}">{{ member }}</a>: {{ roles }}
              </li>
            {% endfor %}
          </ul>
        </section>
      </div>
    </div>
  </div>
</article>