---
layout: default
---

<h1 class="page-title">See Our Work</h1>
<hr>

<div class="grid">
  
  {% for project in site.projects reversed %}
    
    <article role="article" class="card">
	    <a class="card-text" href="{{ site.baseurl }}{{ project.url }}">
      <div class="meta">
        <h2 class="main-font card-project-name">{{ project.title }}</h2>
        <p class="secondary-font">{{ project.summary }}</p>
        <time class="date secondary-font" datetime="{{ project.date | date_to_xmlschema }}">{{ project.date | date: "%Y" }} &middot; {{ project.category }}</time>
      </div>
      </a>
    </article>
    
    
  {% endfor %}
  
</div>
