---
layout: default
---

<article class="post" role="article">
	<div class="meta text-center">
    <img src="{{ page.logo }}" class="game-logo img-tint" alt="{{ page.title }} logo">
  </div>
  <br>
  <div class="meta">
    <h4 class="main-font profile-section-title">Game Demo</h4>
    <hr>
    <section class="container base-text">
      <a href="{{ page.link }}">
        <h5 class="demo-link">Play <em>{{ page.title }}</em> on Itch.io</h5>
      </a>
      <em>Platforms currently available: {{ page.platforms }}</em>
    </section>
    
    <br><br>
    
    <!-- OVERVIEW -->
    <h4 class="main-font profile-section-title">Overview</h4>
    <hr>
    <section class="container base-text general">
      <time class="date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y" }} &middot; {{ page.category }}</time>
      <br><br>
      {{ content }}
    </section>

    <br><br>

    <!-- DEVELOPMENT -->
    <h4 class="main-font profile-section-title">Development</h4>
    <hr>
    <section class="container base-text">
      <div class="col">
        <h5 class="profile-subsection-title"><em>Links</em></h5>
          {% for link in page.links %}
          {% assign platform = link.platform %}
          {% assign url = link.url %}
          {% assign icon = site.social_media_icons[platform] %}
            <a href="{{ url }}" alt="{{ platform }}">
            <img src="{{ icon }}" class="social-icon" aria-label="link to {{ page.platform }}" alt="{{ platform }} logo"></a>
        {% endfor %}
      </div>
    </section>
    <hr class="secondary">
    <div class="container base-text">
      <div class="row">
        <section class="col">
          <h5 class="profile-subsection-title"><em>Tools</em></h5>
          <ul>
            {% for tool in page.tools %}
              <li>{{ tool }}</li>
            {% endfor %}
          </ul>
        </section>
        <section class="col general">
          <h5 class="profile-subsection-title"><em>Contributors</em></h5>
          <ul>
            {% assign sorted = page.team | sort: 'member' %}
            {% for team in sorted %}
              {% assign member = team.member %}
              {% assign url = team.url %}
              {% assign roles = team.roles %}
              <li>
                <a href="{{ site.baseurl }}{{ url }}">{{ member }}</a>: {{ roles }}
              </li>
            {% endfor %}
          </ul>
        </section>
      </div>
    </div>
  </div>
</article>