---
layout: default
---

<div class="container text-center">

    <img src="/assets/images/dots_logo.png"
         alt="The studio logo shows 2 black arrows, one pointing upwards and one pointing right, depicting the X and Y axis of a graph. A black-and-white spotted dog jumps diagonally in the center of the graph. There is text reading 'Distance Over Time' positioned above the dog."
    >
    <h3 class="main-font" style="text-transform:uppercase;">it's not how fast you go</h3>
    <h3 class="main-font" style="text-transform:uppercase;">but how far</h3>
</div>